<a href="https://colab.research.google.com/github/SatoshiYoshino/jissen-data-kako-kashika-100knockss/blob/master/1%E7%AB%A0_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# カレントディレクトリを変更（移動）: os.chdir()

import os 
project = '100knock-process-visualization'
chapter = 1
os.chdir(f'/content/drive/MyDrive/python/{project}/chapter-{chapter}/')

import os 
project = '100knock-process-visualization'
chapter = 1
os.chdir(f'/content/drive/MyDrive/python/{project}/chapter-{chapter}/')

In [4]:
#カレントディレクトリを取得・確認: os.getcwd()
os.getcwd()

'/content/drive/MyDrive/python/100knock-process-visualization/chapter-1'

In [5]:
# カレントの移動 　chapter = 2に移動する
import os 
project = '100knock-process-visualization'
chapter = 2
os.chdir(f'/content/drive/MyDrive/python/{project}/chapter-{chapter}/')

In [6]:
#カレントディレクトリを取得・確認: os.getcwd()
os.getcwd()

'/content/drive/MyDrive/python/100knock-process-visualization/chapter-2'

In [7]:
# カレントの移動が成功したことが確認できたのでchapter１に戻す
# カレントの移動 　chapter = 2に移動する
import os 
project = '100knock-process-visualization'
chapter = 1
os.chdir(f'/content/drive/MyDrive/python/{project}/chapter-{chapter}/')

In [8]:
#カレントディレクトリを取得・確認
os.getcwd()

'/content/drive/MyDrive/python/100knock-process-visualization/chapter-1'

# １章 システムデータの加工・可視化を行う２０本ノック

## ノック１：法人情報データを読み込んでみよう

In [9]:
import pandas as pd
data = pd.read_csv('data/22_shizuoka_all_20210331.csv')

UnicodeDecodeError: ignored

In [ ]:
# 文字コードのエラーが発生したので修正　文字コードにshift-JIS形式を指定して読み込み

In [10]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv', encoding='shift-jis')

In [11]:
data.head()

   1  1000013040008  01  ...  Unnamed: 27  シズオカカテイサイバンショ  0
0  2  1000013050072   1  ...          NaN   シミズカンイサイバンショ  0
1  3  1000013050080   1  ...          NaN  ハママツカンイサイバンショ  0
2  4  1000020222119   1  ...          NaN           イワタシ  0
3  5  1000020222127   1  ...          NaN           ヤイヅシ  0
4  6  1000020222135   1  ...          NaN          カケガワシ  0

[5 rows x 30 columns]

In [12]:
#　データ数
len(data)

114612

In [13]:
# へッダーなしで再度読み込み
data = pd.read_csv('data/22_shizuoka_all_20210331.csv', encoding='shift-jis', header=None)

In [14]:
data.head()

   0              1   2   ...  27             28 29
0   1  1000013040008   1  ... NaN  シズオカカテイサイバンショ  0
1   2  1000013050072   1  ... NaN   シミズカンイサイバンショ  0
2   3  1000013050080   1  ... NaN  ハママツカンイサイバンショ  0
3   4  1000020222119   1  ... NaN           イワタシ  0
4   5  1000020222127   1  ... NaN           ヤイヅシ  0

[5 rows x 30 columns]

In [15]:
len(data)

114613

## ノック２：読み込んだデータを確認しよう

In [16]:
# データ型を確認
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [17]:
# カラム（項目）の数を確認
len(data.columns)

30

In [18]:
data

            0              1   2   ...  27                            28 29
0            1  1000013040008   1  ... NaN                 シズオカカテイサイバンショ  0
1            2  1000013050072   1  ... NaN                  シミズカンイサイバンショ  0
2            3  1000013050080   1  ... NaN                 ハママツカンイサイバンショ  0
3            4  1000020222119   1  ... NaN                          イワタシ  0
4            5  1000020222127   1  ... NaN                          ヤイヅシ  0
...        ...            ...  ..  ...  ..                           ... ..
114608  114609  9700150095744   1  ... NaN           クネキヨウユウザイサンカンリイインカイ  0
114609  114610  9700150097253   1  ... NaN        シズオカシヨウニカンセンシヨウケンキユウカイ  0
114610  114611  9700150099530   1  ... NaN  ホツポウリヨウドヘンカンヨウキユウシズオカケンミンカイギ  0
114611  114612  9700150099852   1  ... NaN                  リヨウゴウチジドウクラブ  0
114612  114613  9700150101659   1  ... NaN          シズオカシチヤギヨウシンコウキヨウギカイ  0

[114613 rows x 30 columns]

In [19]:
# データの型を確認
data.dtypes

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [20]:
# データが自動的に違った変換をする場合がある。こちらからデータ型を指定して読み直す。例としては01が数値型になり1となってしまっている。0の数字を残したい場合。
data = pd.read_csv('data/22_shizuoka_all_20210331.csv', encoding='shift-jis', header=None, dtype=object)

In [21]:
# 列番号２が０１と表示されている
data.head()

  0              1   2   ...   27             28 29
0  1  1000013040008  01  ...  NaN  シズオカカテイサイバンショ  0
1  2  1000013050072  01  ...  NaN   シミズカンイサイバンショ  0
2  3  1000013050080  01  ...  NaN  ハママツカンイサイバンショ  0
3  4  1000020222119  01  ...  NaN           イワタシ  0
4  5  1000020222127  01  ...  NaN           ヤイヅシ  0

[5 rows x 30 columns]

In [22]:
data.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

## ノック３：ヘッダ用のテキストファイルを読み込もう

In [23]:
mst = pd.read_csv('data/mst_column_name.txt', encoding='shift-jis')
mst.head()

  column_id\tcolumn_name_ja\tcolumn_name_en
0                   1\t一連番号\tsequenceNumber
1                  2\t法人番号\tcorporateNumber
2                          3\t処理区分\tprocess
3                          4\t訂正区分\tcorrect
4                      5\t更新年月日\tupdateDate

In [24]:
# sep='\t'を追加することでタブ区切りのところで文字が区切られる
mst = pd.read_csv('data/mst_column_name.txt', encoding='shift-jis', sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [25]:
len(mst)

30

In [26]:
# 今回のヘッダーデータの件数と上記のデータのカラム数が一致しているか確認。左は今回のカラムデータ数。右は上記のデータの項目数。を比較している
len(mst) == len(data.columns)

True

## ノック４：ヘッダ行を追加しよう

In [27]:
#mstのデータセットの中のcolumn_name_enの項目の値だけを選択してcolums変数に代入する
columns = mst.column_name_en.values

In [28]:
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [29]:
# 左のdata.columnsに右のcolumnsのデータを代入。data.colomnsのcolomnsは、pandasの属性としてのcolomns、右側のcolomnsは、前段で設定したヘッダリスト。
data.columns = columns
data.head()

  sequenceNumber corporateNumber  ...       furigana hihyoji
0              1   1000013040008  ...  シズオカカテイサイバンショ       0
1              2   1000013050072  ...   シミズカンイサイバンショ       0
2              3   1000013050080  ...  ハママツカンイサイバンショ       0
3              4   1000020222119  ...           イワタシ       0
4              5   1000020222127  ...           ヤイヅシ       0

[5 rows x 30 columns]

## ノック５：統計量や欠損値を確認しよう

In [30]:
# 統計量を表示
# 統計データを見ることでデータの妥当性判断や数値の範囲などを確認できるので加工前に確認すると良い
data.describe()

       sequenceNumber corporateNumber process  ... enAddressOutside furigana hihyoji
count          114613          114613  114613  ...                0    46620  114613
unique         114613          114613       6  ...                0    41339       2
top             63308   4080402005321      01  ...              NaN   ハチマングウ       0
freq                1               1   94126  ...              NaN       30  114388

[4 rows x 30 columns]

In [31]:
#　欠損値がある場合欠損値NaNかどうかを判定。NaNの場合はTrueと表示される
data.isna()

        sequenceNumber  corporateNumber  ...  furigana  hihyoji
0                False            False  ...     False    False
1                False            False  ...     False    False
2                False            False  ...     False    False
3                False            False  ...     False    False
4                False            False  ...     False    False
...                ...              ...  ...       ...      ...
114608           False            False  ...     False    False
114609           False            False  ...     False    False
114610           False            False  ...     False    False
114611           False            False  ...     False    False
114612           False            False  ...     False    False

[114613 rows x 30 columns]

In [32]:
# sumを追加すると項目ごとのNaNの数が表示される。
#今回郵便番号にNaNがあるので住所録を作る時は注意が必要
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64

## ノック６：データの追加（繰り返し・読込・抽出・結合）

In [33]:
# ライブラリのosをインポート。フォルダやファイルを操作するためのライブラリ
# os.listdir('data')でフォルダの中身を確認

import os
os.listdir('data')

['22_shizuoka_all_20210331.csv',
 'diff_20210401.csv',
 'diff_20210405.csv',
 'diff_20210406.csv',
 'diff_20210407.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_latest.csv',
 'mst_process_kbn.csv',
 'mst_closeCause.csv',
 'mst_corp_kind.csv',
 'mst_hihyoji.csv',
 'mst_correct_kbn.csv',
 'mst_column_name.txt']

In [34]:
# globは、あるパターンにマッチするかたまりを取得するライブラリ
# *は、曖昧にして日付の違いがあっても抽出されるようにしている
from glob import glob 
diff_files = glob('data/diff*.csv')
diff_files

['data/diff_20210401.csv',
 'data/diff_20210405.csv',
 'data/diff_20210406.csv',
 'data/diff_20210407.csv',
 'data/diff_20210408.csv',
 'data/diff_20210409.csv']

In [35]:
#ソートして日付順に並び替え
# 1つ目のファイルを読み込む
# まずは1つのファイルを扱ってみてからやりたいことができることを確認してそれからすべてのファイルを読み込む
# 0番目から読み込みたいファイル番号を[ ]で選択する
diff_files.sort()
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)
# 件数の確認
print(len(diff))

2316

In [36]:
#中身の確認
diff.head(3)

  0              1   2  3           4   ...   25   26   27               28 29
0  1  1010001016019  71  0  2021-04-01  ...  NaN  NaN  NaN  コクサイカンポウケンキュウショ  0
1  2  1010001092869  01  1  2021-04-01  ...  NaN  NaN  NaN  アサヒギンリテールファイナンス  0
2  3  1010001092869  21  0  2021-04-01  ...  NaN  NaN  NaN  アサヒギンリテールファイナンス  0

[3 rows x 30 columns]

In [37]:
# 9列目の都道府県データを静岡県で絞り込む
# データの中身と件数を確認
diff.columns = columns
# pandasの属性なので()ではなく[ ]なので注意
diff = diff.loc[diff['prefectureName'] == '静岡県']
print(len(diff))
diff.head(3)

43

    sequenceNumber corporateNumber process  ... enAddressOutside   furigana hihyoji
107            108   1080001015906      01  ...              NaN    エムケイテック       0
108            109   1080001015906      12  ...              NaN    エムケイテック       0
109            110   1080002015434      01  ...              NaN  ハイナンディーシー       0

[3 rows x 30 columns]

In [46]:
data_test = data                    # テスト用の変数にdataの中身をコピー
print(len(data_test))               # 既存の件数を確認

114613

In [47]:
print(len(data_test) == len(data))  # 既存の件数が正しいことを確認

True

In [48]:
print(len(diff))                    # 差分の件数を確認（上記の静岡で絞り込んだ差分データ自体の件数）

43

In [49]:
data_test.tail(3)                   # 追加後のデータの末尾3件を確認

       sequenceNumber corporateNumber  ...                      furigana hihyoji
114610         114611   9700150099530  ...  ホツポウリヨウドヘンカンヨウキユウシズオカケンミンカイギ       0
114611         114612   9700150099852  ...                  リヨウゴウチジドウクラブ       0
114612         114613   9700150101659  ...          シズオカシチヤギヨウシンコウキヨウギカイ       0

[3 rows x 30 columns]

In [50]:
data_test = data_test.append(diff)  # テスト用の変数に差分データを追加
print(len(data_test))               # 追加後の件数を確認

114656

In [51]:
data_test.tail(3)                   # 追加後のデータの末尾3件を確認

     sequenceNumber corporateNumber process  ... enAddressOutside   furigana hihyoji
2159           2160   9080401024929      01  ...              NaN       リガーレ       0
2160           2161   9080402007726      01  ...              NaN  マルシンショウテン       0
2161           2162   9080402021917      21  ...              NaN  オカモトショウカイ       0

[3 rows x 30 columns]

In [53]:
# 既存のデータに差分データを追加するがテストなのでdataは更新したくない。したがって初めの段階でtestデータを作りそこに代入した。結合方法はappendでできる
# うまくいくことが分かったので繰り返しを行い複数のデータを追加する

# diff_filesを繰り返し読み込み追加する

In [54]:
for f in diff_files:
  diff = pd.read_csv(f, encoding='shift-jis', header=None, dtype=object)
  diff.columns = columns
  diff = diff.loc[diff['prefectureName'] == '静岡県']
  data = data.append(diff)
data

     sequenceNumber corporateNumber  ...       furigana hihyoji
0                 1   1000013040008  ...  シズオカカテイサイバンショ       0
1                 2   1000013050072  ...   シミズカンイサイバンショ       0
2                 3   1000013050080  ...  ハママツカンイサイバンショ       0
3                 4   1000020222119  ...           イワタシ       0
4                 5   1000020222127  ...           ヤイヅシ       0
...             ...             ...  ...            ...     ...
3194           3195   9080001021673  ...            アクト       0
3195           3196   9080101022431  ...            レスカ       0
3196           3197   9080102008933  ...       サクラキュウソウ       0
3197           3198   9080402002859  ...           コウボウ       0
3198           3199   9080402015836  ...         エコワークス       0

[115020 rows x 30 columns]

In [56]:
# 上記で値が一緒だったcorporateNumberのcountとuniqueの値が一致しなくなった。
# ここではcorporateNumberは、法人番号で数は変わらないものとしている。その場合重複があるということがわかる
data.describe()

       sequenceNumber corporateNumber process  ... enAddressOutside furigana hihyoji
count          115020          115020  115020  ...                0    47018  115020
unique         114613          114758       6  ...                0    41577       2
top              3032   7080402010509      01  ...              NaN   ハチマングウ       0
freq                4               5   94398  ...              NaN       30  114795

[4 rows x 30 columns]

In [57]:
#重複を確認する
# duplicated()で重複データを表示
print(data[data["corporateNumber"].duplicated()])

     sequenceNumber corporateNumber  ...     furigana hihyoji
107             108   1080001015906  ...      エムケイテック       0
108             109   1080001015906  ...      エムケイテック       0
109             110   1080002015434  ...    ハイナンディーシー       0
110             111   1080105005588  ...     レアーレワールド       0
113             114   1080403003401  ...  ポップスターインポート       0
...             ...             ...  ...          ...     ...
3193           3194   9080001004208  ...          ハギリ       0
3194           3195   9080001021673  ...          アクト       0
3196           3197   9080102008933  ...     サクラキュウソウ       0
3197           3198   9080402002859  ...         コウボウ       0
3198           3199   9080402015836  ...       エコワークス       0

[262 rows x 30 columns]

In [59]:
# 重複データ削除。今回は既存データを削除して差分データを残す
#drop_duplicates()関数で重複したデータを削除
# subsetは、重複確認対象名
# keep='last'は、重複した最終行を残し、inplace=Trueでdataの中身を直接置き換えている
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)

In [61]:
# corporateNumberのcountとunique	の値が一致して重複がなくなったことが確認できた
data.describe()

       sequenceNumber corporateNumber process  ... enAddressOutside furigana hihyoji
count          114758          114758  114758  ...                0    46900  114758
unique         114388          114758       6  ...                0    41559       2
top              3032   4080402005321      01  ...              NaN   ハチマングウ       0
freq                4               1   94176  ...              NaN       30  114533

[4 rows x 30 columns]

In [63]:
#　欠損値を確認。欠損値はまだあるが今回のデータには問題なしとする
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113513
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113563
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114758
addressOutsideImageId       114758
closeDate                   104650
closeCause                  104650
successorCorporateNumber    114080
changeCause                 113629
assignmentDate                   0
latest                           0
enName                      114525
enPrefectureName            114527
enCityName                  114527
enAddressOutside            114758
furigana                     67858
hihyoji                          0
dtype: int64

## ノック７：マスタを読み込んで項目を横に繋げよう

In [ ]:
os.listdir('data')

In [ ]:
mst_process_kbn = pd.read_csv('data/mst_process_kbn.csv', dtype=object)
mst_process_kbn

In [ ]:
data = data.merge(mst_process_kbn, on='process', how='left')

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
mst_correct_kbn = pd.read_csv('data/mst_correct_kbn.csv', encoding='shift-jis', dtype=object)
mst_correct_kbn

In [ ]:
data = data.merge(mst_correct_kbn, on='correct', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_corp_kind = pd.read_csv('data/mst_corp_kind.csv', dtype=object)
mst_corp_kind

In [ ]:
data = data.merge(mst_corp_kind, on='kind', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_close_cause = pd.read_csv('data/mst_closeCause.csv', dtype=object)
mst_close_cause

In [ ]:
data = data.merge(mst_close_cause, on='closeCause', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_latest = pd.read_csv('data/mst_latest.csv', dtype=object)
mst_latest

In [ ]:
data = data.merge(mst_latest, on='latest', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_hihyoji = pd.read_csv('data/mst_hihyoji.csv', dtype=object)
mst_hihyoji

In [ ]:
data = data.merge(mst_hihyoji, on='hihyoji', how='left')
print(len(data.columns))
data.head(3)

## ノック８：テキストの連結や分割をしよう

In [ ]:
data[['prefectureName', 'cityName', 'streetNumber']].isna().sum()

In [ ]:
data['address'] = data['prefectureName'] + data['cityName'] + data['streetNumber']
print(len(data.columns))
data.head(3)

In [ ]:
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data['address'].loc[data['streetNumber'].isna()] = data['prefectureName'] + data['cityName']

In [ ]:
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data.head(3)

In [ ]:
data['postCode_head'] = data['postCode'].str[:3]
print(len(data.columns))
data.head(3)

In [ ]:
data['postCode_tail'] = data['postCode'].str[-4:]
print(len(data.columns))
data.head(3)

## ノック９：日付を加工しよう

In [ ]:
data['closeDate'] - data['assignmentDate']

In [ ]:
tmp = pd.to_datetime(data['closeDate'])
tmp.dtypes

In [ ]:
dt_columns = ['updateDate', 'changeDate', 'closeDate', 'assignmentDate']
for col in dt_columns:
  data[col] = pd.to_datetime(data[col])

In [ ]:
data.dtypes

In [ ]:
data['corporate_life'] = data['closeDate'] - data['assignmentDate']
print(len(data.columns))
data.head(3)

In [ ]:
tmp = data.loc[data['closeDate'].notna()]
print(len(tmp))
tmp.head(3)

In [ ]:
len(data.loc[data['closeCause'].notna()]) == len(data.loc[data['closeDate'].notna()])

In [ ]:
data['update_YM'] = data['updateDate'].dt.to_period('M')
print(len(data.columns))
data.head()

In [ ]:
dt_prefixes = ['assignment', 'change', 'update', 'close']
for pre in dt_prefixes:
  data[f'{pre}_YM'] = data[f'{pre}Date'].dt.to_period('M')

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
data.dtypes

## ノック１０：年度を設定しよう

In [ ]:
data['update_year'] = pd.DatetimeIndex(data['updateDate']).year         # 更新日付から年を取得
data['update_month'] = pd.DatetimeIndex(data['updateDate']).month       # 更新日付から月を取得
data['update_fiscal_year'] = pd.DatetimeIndex(data['updateDate']).year  # 更新年度に取得した年を設定
data.loc[data['update_month'] < 4, 'update_fiscal_year'] -= 1           # 更新月が3月までは更新年度-1

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
for i in range(12):
  display(data[['update_YM', 'update_fiscal_year']].loc[data['update_month'] == i+1 ][:1])

## ノック１１：加工したデータをファイルに出力しよう

In [ ]:
output_dir = 'data/output'
os.makedirs(output_dir, exist_ok=True)

In [ ]:
output_file = 'processed_shizuoka.csv'
data.to_csv(os.path.join(output_dir, output_file), index=False)

In [ ]:
output_file = output_file.replace('.csv', '.xlsx')
data.to_excel(os.path.join(output_dir, output_file), index=False)

## ノック１２：不要な項目の削除と並べ替えをしよう

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data = data[['cityName', 'corporateNumber', 'name', 'corp_kind_name', 'process', 'process_kbn_name', 'assignmentDate', 'updateDate', 'update_fiscal_year', 'update_YM']]

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data = data.drop(columns = 'process')
print(data.columns)
data.head(3)

## ノック１３：まとまった単位で集計しよう

In [ ]:
tmp = data.groupby('corp_kind_name').size()
tmp

In [ ]:
tmp.sort_values(inplace=True, ascending=False)
tmp

In [ ]:
tmp = data.groupby('update_fiscal_year').size()
tmp

In [ ]:
tmp = data.groupby(['update_fiscal_year', 'corp_kind_name']).size()
tmp

In [ ]:
pt_data = pd.pivot_table(data, index='corp_kind_name', columns='update_fiscal_year', aggfunc='size')
pt_data

## ノック１４：市区町村別の法人数を可視化しよう

In [ ]:
%%bash
pip install -q japanize-matplotlib

In [ ]:
tmp = data.groupby('cityName').size()
tmp.head()

In [ ]:
import matplotlib.pyplot as plt
import japanize_matplotlib

x = tmp.index
y = tmp.values
plt.bar(x, y)

In [ ]:
plt.figure(figsize=(20, 10))
plt.bar(x, y)

## ノック１５：グラフの縦横と表示順を変えてみよう

In [ ]:
tmp.sort_values(inplace=True, ascending=True)
tmp

In [ ]:
plt.figure(figsize=(10, 15))
x = tmp.index
y = tmp.values
plt.barh(x, y)

## ノック１６：グラフのタイトルとラベルを設定しよう

In [ ]:
tmp.sort_values(inplace=True, ascending=False)
plt.figure(figsize=(20, 10))
x = tmp[:10].index
y = tmp[:10].values
plt.bar(x, y)

In [ ]:
plt.figure(figsize=(20, 10))
plt.bar(x, y)
plt.title('市区町村別の法人数', fontsize=20)
plt.xlabel('市区町村名', fontsize=15)
plt.ylabel('法人数')

## ノック１７：グラフの見た目をもっと変えてみよう

In [ ]:
tmp.sort_values(inplace=True, ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
fig, ax = plt.subplots(figsize=(20, 10))
bar_list = ax.bar(x, y, color='lightgray')
bar_list[4].set_color('blue')
ax.set_title('自治体別法人数における富士市の位置づけ', fontsize=20);
ax.set_ylabel('法人数', fontsize=15)
ax.text(7.5, 9000, '上位10の自治体を抜粋して表示', fontsize=15)

## ノック１８：９０日以内に新規登録された法人数を可視化してみよう

In [ ]:
base_time = pd.Timestamp.now(tz='Asia/Tokyo')
base_time

In [ ]:
print(len(data))
data.head()

In [ ]:
data['assignmentDate'] = data['assignmentDate'].dt.tz_localize('Asia/Tokyo')
data.head()

In [ ]:
delta = pd.Timedelta(90, 'days')
tmp = data.loc[(data['process_kbn_name'] == '新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp = tmp.groupby('cityName').size()
tmp.sort_values(inplace=True, ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
plt.figure(figsize=(20, 10))
plt.bar(x, y)

In [ ]:
base_time = pd.Timestamp('2020-04-16', tz='Asia/Tokyo')
tmp = data.loc[(data['process_kbn_name'] == '新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp = tmp.groupby(by='cityName').size()
tmp.sort_values(inplace=True, ascending=False)
tmp = tmp[:10]
x = tmp.index
y = tmp.values
plt.figure(figsize=(20, 10))
plt.bar(x, y)

## ノック１９：年度別の推移を可視化しよう

In [ ]:
tmp = data.dropna(subset=['cityName'])
tmp = tmp.loc[tmp['cityName'].str.match('^.*区$')]
print(len(tmp))
tmp.head()

In [ ]:
tmp = tmp.loc[(tmp['update_fiscal_year'] >= 2016) & (tmp['update_fiscal_year'] < 2021)]
print(len(tmp))
tmp.head()

In [ ]:
tmp = tmp.groupby(['cityName', 'update_fiscal_year']).size()
tmp.name = 'count'
tmp = tmp.reset_index()
print(len(tmp))
tmp.head(6)

In [ ]:
import seaborn as sns
from matplotlib.ticker import MaxNLocator

plt.figure(figsize=(20, 10))
plt.gca().xaxis.set_major_locator(MaxNLocator(integer=True))
img = sns.lineplot(x=tmp['update_fiscal_year'], y=tmp['count'], hue=tmp['cityName'])

## ノック２０：データとグラフを出力しよう

In [ ]:
data_file = 'knock20_graphdata.csv'
data.to_csv(os.path.join(output_dir, data_file), index=False)

In [ ]:
graph_file = 'knock20_graph.png'
fig = img.get_figure()
fig.savefig(os.path.join(output_dir, graph_file))